
$red:#FF0000;
$green:#00FF00;
$blue:#0000FF;
$cyan: #00FFFF;
$magenta: #FF00FF; 
$yellow: #FFFF00;
$gray: #888888;

$font-primary: 'Roboto Mono';
$aspect-ratio: 1.56;
$width: 700px; // height: 400;

$text-color: hsla(0, 100%, 100%, 0.85);
$text-color-dimmed: hsla(0, 100%, 100%, 0.60);
$text-color-lighten: hsla(0, 100%, 100%, 0.95);

$prompt-icon-color: #ff47e3;
$teal: #64ffda;
$prompt-prefix-color: #00e5ff;
$background-color: #1e2638;

$color1: rgba(188, 231, 132, 1);
$color2: rgba(93, 211, 158, 1);
$color3: rgba(52, 138, 167, 1);
$color4: rgba(82, 81, 116, 1);
$color5: rgba(81, 59, 86, 1);

html,
body {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 10px 'Roboto Mono', 'Menlo', 'Monaco', monospace, Arial, sans-serif;
	color: $text-color;
    line-height: 1.1em;
    font-weight: 400;
    margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
li {
    padding: 0;
    margin-bottom: 5px;
}

input {
    flex: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
	font-weight: 400;
    color: $text-color;
}

.flex-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    margin: 20px;
    display: flex;
    max-width: $width;
    height: calc(#{$width} / #{$aspect-ratio});
    position: relative;
}

#term {
    flex: auto;
    background-color: $background-color;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;

    &:focus {
        outline: 0;
    }
}

#toolbar {
    position: relative;
    height: 25px;
    justify-content: center;
    align-items: center;
}

#screen {
    overflow: auto;
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px 10px 10px 12px;   
}

#prompt-wrapper {
    margin-bottom: 5px;
    flex-flow: wrap;
}

.prompt-prefix > * {
    margin-right: 5px;
}

#user-input {
}

.api-results {
    margin: 5px 0 5px 10px;
    line-height: 1.5;
}

#osx-icons {
    flex: 0;
    position: absolute;
    left: 4px;
    top: 3px;
    margin-bottom: 5px;
}

.osx-icon {
    width: 18px;
    height: 18px;
}

.browser {
    padding-top: 2px;
}

.lighten {
    color: $text-color-lighten;
}

.dimmed {
    color: $text-color-dimmed;
}




