
$red:#FF0000;
$green:#00FF00;
$blue:#0000FF;
$cyan: #00FFFF;
$magenta: #FF00FF; 
$yellow: #FFFF00;
$gray: #888888;

$text-input: #efefef;

$font-primary: 'Roboto Mono';
$aspect-ratio: 1.56;

$width: 480px; // height: 300;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: monospace, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: $text-input;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
li {
    display: block;
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}


%flex-row {
    display: flex;
    flex-direction: row wrap;
}

.flex-row-center {
    @extend %flex-row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    margin: 10px 10px;
    display: flex;
}

.term {
    flex: 0 1 $width;
    height: calc(#{$width} / #{$aspect-ratio});
}

.toolbar {
    flex: 0 0 auto;
    padding: 2px 3px;
    height: 25px;
    background-color: #eee;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.screen {
    flex: auto;
    background-color: #242637;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

.osc-icons {
    align-items: center;
}

.osx-icon {
    width: 19px;
    height: 19px;
}

.prompt-icon {
    color: $cyan;
    margin-right: 5px;
}

.entry,
#prompt {
    align-items: center;
    padding: 3px 4px;
}